<div class="ui center aligned icon">
    <div class="sub">
        <h4>{{ 'sylius.ui.need_assistance'|trans }} {{ 'sylius.ui.call_us'|trans }}</h4>
        <div class="ui list yokoso-social">
            {% include '@SyliusShop/_social.html.twig' %}
        </div>
    </div>
</div>

<div class="ui divider"></div>

<div class="ui center aligned basic segment yokoso-red">
    <i class="huge cc mastercard icon"></i>
    <i class="huge cc visa icon"></i>
    <i class="huge cc paypal card icon"></i>
</div>
<div class="divider"></div>
<div class="ui success big message">
    {{ ('yokoso.delivery_payment_msg'|trans)|raw }}
</div>

