/var/*
!/var/.gitignore

/public/assets
!/public/assets/shop/css/.gitignore
/public/bundles
/public/css
/public/js
/public/media

/vendor
/node_modules

/etc/build/*
!/etc/build/.gitignore

/behat.yml
/phpspec.yml

/.env
/.env.prod
/.env.staging
/.env.test
/.env.test_cached

/docker-compose.override.yaml
/docker-compose.override.yml
/docker/mysql/data/

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###


.bash_history
.bash_logout
.bash_profile
.bashrc
.composer
.contactemail
.cpanel
.cphorde
.dns
.emacs
.gemrc
.htpasswds
.lastlogin
.lesshst
.spamassassinenable
.spamboxenable
.sqmailattac
.sqmaildata
.ssh
.subaccounts
.trash
.viminfo
.zshrc
README.md
access-logs
certbot-auto
error_log
etc
liteup.xyz
mail
perl5
public_ftp
ssl
www
