<div class="ui basic segment">
    <div class="ui column centered">
        <a href="{{ path('sylius_shop_homepage') }}">
            <img src="{{ asset('assets/images/logo.png') }}" alt="Yokoso Japan"
                 class="ui small centered image yokoso-logo"/>
        </a>
    </div>
</div>
