<div class="item">
    <a href="tel:+819060718877" class="item" target="_blank">
        <i class="phone icon"></i> +81 90 6071 8877
    </a>
</div>
<div class="item">
    <a href="https://t.me/uzjapan" class="item" target="_blank">
        <i class="telegram icon"></i> @uzjapan
    </a>
</div>
<div class="item">
    <a href="https://instagram.com/yaponiya_yokoso" class="item" target="_blank">
        <i class="instagram icon"></i> @yaponiya_yokoso
    </a>
</div>
<div class="item">
    <a href="mailto:info@yokoso-beauty.com" class="item" target="_blank">
        <i class="envelope open outline icon"></i> info@yokoso-beauty.com
    </a>
</div>
