<div class="ui simple action input yokoso-perpage-search">
    <form method="get" class="ui loadable form yokoso-prod-search">
        <input type="text" id="criteria_search_value" name="criteria[search][value]">
        <button type="submit" class="ui primary icon button">
            <i class="search icon"></i>
        </button>
    </form>
</div>
