{% block subject %}
    Регистрация нового пользователя
{% endblock %}

{% block body %}
    {% autoescape %}
        Добро пожаловать в Yokoso Beauty!
        <br/><br/>
        Ваша регистрация на нашем сайте закончена.
        <br/>
        Спасибо, {{ user.username }} и удачной покупки!
        Если есть вопросы, можете связаться с нами в Телеграм - <a href="https://t.me/diyorajapan" target="_blank">@diyorajapan</a>
        <br/><br/>
        С уважением,<br/>
        Yokoso Beauty
    {% endautoescape %}
{% endblock %}
